html, body { height: 100%; }
body { font-family: 'Arial', sans-serif; letter-spacing: .15ex; line-height: 1.75; font-weight: 400; font-size: 100%; -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4 { font-weight: 400; line-height: 1.25; margin: 1px 0 }

h1 { font-size: 1.25rem }
h2 { font-size: 1.15rem }
h3 { font-size: 1.05rem }
h4 { font-size: 1rem }