html, body { height: 100%; }
body { font-family: 'Arial', sans-serif; letter-spacing: .15ex; font-weight: 400; font-size: 100%; -webkit-font-smoothing: antialiased; padding: 0 35px;}

header { padding-top: 20px; padding-bottom: 25px; }

h1,
h2,
h3,
h4 { font-weight: 400; margin: 0; line-height: 1.25;}

h1 { font-size: 1.25rem }
h2 { font-size: 1.15rem }
h3 { font-size: 1.05rem }
h4 { font-size: 1rem }